<footer class="text-center" style="line-height: 30%;">
  <p class="text-primary">
    Phòng Đào tạo - Trường Đại học Công nghiệp TP. Hồ Chí Minh
  </p>
  <p class="text-secondary">
    12 Nguyễn Văn Bảo, P.4, Q. Gò Vấp, TP. Hồ Chí Minh, Phòng Đào tạo - Tầng
    trệt - Nhà B
  </p>
  <p class="text-danger">
    Dự án này chỉ mang tính chất minh họa cho đề tài kiểm thử, không giống hoàn toàn với đề án tuyển sinh thực tế
  </p>
</footer>
