<header class="py-3">
  <div class="row">
    <div class="col-3 my-auto">
      <img src="/images/logo.png" alt="IUH" width="80%" />
    </div>
    <div class="col-9 my-auto text-center">
      <h1 class="text-primary">PHIẾU ĐĂNG KÝ XÉT TUYỂN ĐẠI HỌC NĂM 2022</h1>
      <p>Sử dụng kết quả học tập THPT năm lớp 12</p>
    </div>
  </div>
</header>
